.navborder {
    border-bottom: 3px solid #0000ff81;
}

.nav-link:hover {
    color: #0000ff !important;
    
}

#home {
    background-image: url('images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.mb-3 > a{
    text-decoration: none;
    color: #fff;
}
@media only screen and (max-width:786px){
    .image{
        width: 100%;
        height: auto;
    }
    #service{
        padding: 0px 60px;
    }
    #homed {
        height: 55vh;
    }
}
/* @media only screen and (max-width:786px){
    #home {
        height: 75vh !important;
    }

}@media only screen and (max-width:500px){
    #home {
        height: 65vh !important;
    }
} */